# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.vscode/
env/
venv/
ENV/
env.bak/
venv.bak/

# OS files
**/.DS_Store

# secrets
.streamlit/secrets.toml